<div class="nested-fields">
  <%= f.input :image, label: false %>
  <%= f.input :caption, label: false, placeholder: 'Write your caption here' %>
  <%= link_to_remove_association "Remove photo", f, :class => "btn btn-danger" %> 
</div>