<% @projects.each do |p| %>
  <%= image_tag p.pictures.first.image.url(:medium) %>
  <p><%= p.description %></p>
<% end %>
<%= link_to "New project", new_project_path, class: 'btn btn-primary btn-md' %>