<div class="page-header">
  <h1 class='big-header'>Joey Ferguson.</h1>
</div>
<div class='project-info'></div>
<div class="row projects">
  <% @projects.each do |p| %>
    <div class="project-tile col-xs-6 col-sm-4 col-md-2 no-gutters">
      <div class="project-title">
        <h4><%= link_to p.title, project_path(p), :remote => true %></h4>
      </div>
      <%= image_tag p.pictures.first.image.url(:medium), class: 'img-responsive' %>
      <%= link_to "Edit", edit_project_path(p) %>
    </div>
  <% end %>
</div>