.projects{
  margin: 5px;
  border: 1px solid #cbcbcb;
}


.project-title{
  background-color: rgba(0,0,0,0.85);
  text-shadow: 0px 0px 2px #1d1d1d;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 80%;
  display: none;
}
.project-title a{
color: white;
text-decoration: none;
}
.no-gutters{
  padding: 0px;
}

.big-header{
  font-size: 80px;
  margin-left: 20px;
}

@media(max-width:767px){
 .big-header{
  font-size: 50px;
 }
}

